<section class="border-b lg:border-none p-4 lg:p-6 ">
    <div class="container mx-auto flex items-center justify-between">
        <div>
            <a href="">
                <img src="https://mael-conception.com/images/logo-vert.png" width="80" alt="">
            </a>
        </div>
        <nav>
            <ul class="flex flex-col lg:flex-row items-center">
                @for (item of navLinks ; track $index) {
                    <li class="ml-3"><a href=""> {{item.title}} </a></li>
                }
            </ul>
        </nav>
        <div>
            <a href="" class="bg-green-600 text-white rounded-md p-2 hover:bg-green-700 duration-300">Contactes</a>
        </div>
    </div>
</section>
