<main class="flex flex-col w-screen relative items-center justify-center lg:p-4">
    <section class="grid lg:h-[70vh] justify-center items-center gap-4 lg:grid-cols-2">
        <div class="text-div p-4 w-[45vw] flex justify-center items-center">
            <div>
                <div>
                    <h2 class=" flex flex-col font-medium  text-4xl">
                        <span>Création De <span class="font-semibold text-green-600 border border-dashed p-1 bg-green-200/10">Sites Web</span> &</span>
                        <div class="mt-5">
                            <span class="font-semibold text-green-600 mt-2 border border-dashed p-1 bg-green-200/10">Application Mobiles </span> 
                            <span class="mt-2 ml-1 p-1">Modernes </span> 
                        </div>
                        <div class="mt-3">et Créatifs</div>
                    </h2>
                    <p class="text-gray-500 mt-5 lg:mt-8">
                        Savez-vous que 97% des clients recherchent en ligne avant de décider d'acheter un produit ou un service ? Alors Démarquez vous et augmentez vos ventes
                    </p>
                </div>
                <div class="flex items-center mt-5 lg:mt-8">
                    <a href="" class="p-2 block rounded-md bg-green-600 text-white hover:bg-green-700 duration-300">Demander un devis</a>
                    <a href="" class="p-2 ml-2 block rounded-md bg-green-100 text-green-600 border hover:bg-transparent duration-300">Nos Services</a>
                </div>
            </div>
        </div>
        <div class="relative w-[40vw] flex justify-center">
            <div class="first-div overflow-hidden object-cover bg-gray-400 relative z-40 rounded-2xl shadow-xl shadow-green-600/20 h-[20rem] w-[12rem]">
                <img src="https://i.pinimg.com/564x/84/2b/6e/842b6e30df18c49f94af5d825222fca1.jpg" class="" alt="">
            </div>
            <div class="second-div bg-gray-200 overflow-hidden object-cover ml-10 absolute z-10 rotate-12 rounded-2xl h-[20rem] w-[12rem]">
                <img src="https://i.pinimg.com/564x/1f/07/65/1f0765b69e5ccf46b7f237ab1d9a6eab.jpg" alt="">
            </div>
        </div>
    </section>
    <div class="trusted-company flex flex-col items-center lg:mt-8">
        <p class="text-gray-500">ils nous ont fait confiance </p>
        <div class="grid mt-8 lg:grid-cols-6 items-center">
            <img src="https://mael-conception.com/images/clients/congo-memoire.png"  alt="" class="ml-10">
            <img src="https://mael-conception.com/images/clients/imnc.png"  alt="" class="ml-10">
            <img src="https://mael-conception.com/images/clients/lygm-photo.png"  alt="" class="ml-10">
            <img src="https://mael-conception.com/images/clients/pabea.png"  alt="" class="ml-10">
            <img src="https://mael-conception.com/images/clients/phoenix.png" alt="" class="ml-10">
            <img src="https://mael-conception.com/images/clients/may-delice.png"  alt="" class="ml-10">
        </div>
    </div>
    <div class="absolute h-[40rem] w-[40rem] z-0 bg-green-600 opacity-20 rounded-full blur-2xl -right-[20rem]"></div>
    <div class="absolute h-[80vh] w-[60vw] z-0 bg-green-600 opacity-70 rounded-full  top-[25rem] -left-[43rem]"></div>
</main>
