<main class="">
    <div class="flex flex-col items-center mt-8">
        <h2 class="text-3xl font-semibold">Nous offrons des Services variés</h2>
        <p class="text-gray-500">Jetez un oeil sur nos services </p>
    </div>
    <section class="mt-12">
       <div class="flex justify-center">
        <div class="flex flex-col items-end h-[100vh] w-[27rem]">
           <div class="h-40 bg-red-600 w-72 rounded-xl">

           </div>

           <div class="p-4 mt-12">
                <span></span>
                <h3 class="mt-3 text-xl font-medium">Développement Mobile</h3>
                <p class="mt-3 text-gray-500">
                    Offrez à vos clients une expérience agréable grâce à une application mobile fluide et moderne compatible avec iOS et Android au meilleur rapport qualité/prix
                </p>
            </div>

            <div class="h-40 mt-12 rounded-xl bg-pink-600 w-72">

            </div>

        </div>
        <div class="relative ml-10 flex justify-center h-[100vh] bg-green-950 w-0.5 rounded-full">
            <span class="absolute flex justify-center items-center shadow-md bg-green-600/80 text-white top-20 w-8 h-8 rounded-full ">1</span>
            <span class="absolute flex justify-center items-center shadow-md bg-green-600/80 text-white top-72 w-8 h-8 rounded-full ">2</span>
            <span class="absolute flex justify-center items-center shadow-md bg-green-600/80 text-white top-[30rem] w-8 h-8 rounded-full ">3</span>
        </div>
        <div class=" h-[100vh] ml-10 w-[27rem]">
            <div class="p-4">
                <span></span>
                <h3 class="mt-3 text-xl font-medium">Développement web</h3>
                <p class="mt-3 text-gray-500">
                    Conception des sites web créatif pour vous aider à augmenter votre crédibilité en ligne, vous démarquer de la concurrence et attirer de nouveaux clients a un prix défiant toute concurrence.
                </p>
            </div>

            <div class="h-40 mt-12 rounded-xl bg-slate-600 w-72">

            </div>

            <div class="p-4 mt-12">
                <span></span>
                <h3 class="mt-3 text-xl font-medium">Audit des sites web</h3>
                <p class="mt-3 text-gray-500">
                    Votre site ne convertit pas, n'est pas optimisé pour le mobile ou tout simplement vous avez des doutes ? laissez-nous l'auditer et vous donnez des recommandations.
                </p>
            </div>

        </div>
       </div>
    </section>
</main>
